.headerSortDown:after,
.headerSortUp:after {
    content: ' ';
    position: relative;
    left: 2px;
    border: 8px solid transparent;
}

.headerSortDown:after {
    top: 1em;
    border-top-color: silver;
}

.headerSortUp:after {
    bottom: 15px;
    border-bottom-color: silver;
}

.headerSortDown,
.headerSortUp {
    padding-left: 10px;
}